body {
  background-color: #A82914
}

h1 {
  text-align: center;
  color: #4EF5AA
}

h2 {
  text-align: center;
  color: #4EF5AA
}

p {
  text-align: justify;
  font-size: 18px;
  color: #71FFBE
}
